<div class="dashboard-header">
    <h1>Welcome to the Training Dashboard</h1>
    <h5><b>Email: </b>{{progManagerEmail}} </h5>
    <h5><b>Name: </b>{{progManangerName}}</h5>
</div>

<div *ngFor="let events of listOfEvents">
    <p>{{events.event_title}}</p>
</div>

<div class="add-event-container">
    <div class="inner-card-container">
        <div class="card-header">
            <h3>Add a new Training Event</h3>
        </div>
            
        <div class="sign-in-fields">
            <input type="text" [(ngModel)]="newEventTitle"  placeholder="Training Name">
        </div>

        <div class="sign-in-fields">
            <input type="text" [(ngModel)]="newEventLocation"  placeholder="Training Location">
        </div>

        <div class="sign-in-fields">
            <input type="text" [(ngModel)]="newEventLeader"  placeholder="Mentor">
        </div>

        <div class="sign-in-fields">
            <input type="text" [(ngModel)]="newEventID"  placeholder="Event ID">
        </div>

        <div class="sign-in-fields">
            <input type="text" [(ngModel)]="participantToAssign"  placeholder="Participant">
        </div>            

        <div class="sign-up-btn">
            <button type="submit" (click) = "addNewEvent()">Add Event</button>
        </div>
    </div>    
</div>


<div>
    <table class="participants-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Training Sessions</th>
                <th>Total Completion Status</th>
            </tr>
        </thead>
        <tbody *ngFor="let studParticipant of listOfParticipants">
            <tr>
                <td>{{studParticipant.name}}</td>
                <td>{{studParticipant.email}}</td>
                <td>{{studParticipant.events.length}}</td>
                
                <td *ngIf="!shouldViewMoreDetails" class="completions-status-data">
                    {{computeOverallProgress(studParticipant.events)}}%
                    <button (click)="showOrHideMoreEventDetails()">More details</button>
                </td>
                <td *ngIf="shouldViewMoreDetails" class="completions-status-data">
                    <div class="event-more-details" *ngFor="let studentEvent of studParticipant.events">
                        <p>Training Type: {{studentEvent.event_title}}</p>
                        <p>Training Completion: {{studentEvent.event_completion}}</p>
                        <p>Training location: {{studentEvent.location}}</p>
                        <p>Mentor: {{studentEvent.leader}}</p>
                        <p>Training ID: {{studentEvent.event_id}}</p>
                        <br>
                    </div>
                    
                    <button (click)="showOrHideMoreEventDetails()">Hide details</button>
                </td>
            </tr>
        </tbody> 
    </table>


</div>






<!-- <div *ngFor="let studParticipant of listOfParticipants">
    <p>{{studParticipant.name}}</p>
    <p>{{studParticipant.email}}</p>
    <div *ngFor="let studentEvent of studParticipant.events">
        <p>{{studentEvent.event_title}}</p>
        <p>{{studentEvent.event_completion}}</p>
        <p>{{studentEvent.location}}</p>
        <p>{{studentEvent.leader}}</p>
        <p>{{studentEvent.event_id}}</p>
    </div>
    <br>
    <p>Total Progress:{{computeOverallProgress(studParticipant.events)}}%</p>
    <p>------------------------------------------</p>
    <button (click)="AddNewParticipant">Completed</button> 
</div> -->