<div class="main">
    <div class="welcome-message-container">
        <div class="header-m-1"><h1>Welcome to the</h1></div>
        <div class="header-m-2"><h1>IT Development</h1></div>
        <div class="header-m-3"><h1>Program</h1></div>
        
    </div>


    <div class="card-container">
        <div class="inner-card-container">
            <div class="card-header">
                <h3>SIGN IN</h3>
            </div>
                
            <div class="sign-in-fields">
                <input type="text" [(ngModel)]="email"  placeholder="Email">
            </div>

            <div class="sign-in-fields">
                <input type="password" [(ngModel)]="password" placeholder="Password" >
            </div>
            
            <div class="inner-card-footer">
                <input type="checkbox" name="sign-reminder">
                <label>Remember me the next time I signup</label>
            </div>
        
            <div class="sign-up-btn">
                <!-- <button type="submit" [disabled]="!f.valid">Sign Up</button> -->
                <!-- <button type="submit" [routerLink]="['/dashboard']">Sign Up</button> -->
                <button type="submit" (click) = "onSubmit()">Sign Up</button>
            </div>
        </div>        
    </div>
</div>
