.background{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

table {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.dashboard-header {
    display: block;
    width: fit-content;
    margin: auto auto;
    line-height: 0;
}

.dashboard-header h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size:3vw;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin-bottom: 40px;
}

.dashboard-header h5 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.participants-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}


.participants-table td, .participants-table th {
    border: 1.5px solid #000;
    padding: 8px;
}
.participants-table td {
    font-size: 0.9rem;
}
.participants-table tr {
    background-color: white;
}
/* .participants-table tr:nth-child(even){background-color: #f2f2f2;} */

/* .participants-table tr:hover {background-color: #ddd;} */


.participants-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    color: white;
}

.event-info img {
    width: 512px;
    height: 341px;
}

.event-info p {
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.event-info {
    text-align: center;
}

.event-info button {
    width: 80%;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
}

.event-info button {
    outline: none;
}

.event-info button:hover {
    opacity: 0.8;
}